.feed {
  display: flex;
  flex: 0.6;
  flex-direction: column;
  margin: 0px 30px;
  width: 60%;
}
.feed__form {
  display: flex;
}
.feed .feed__input {
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  flex-direction: column;
}
.feed .feed__input form {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex: 1;
}
.feed .feed__input form input[type="text"] {
  flex: 1;
  border-radius: 20px;
  padding: 0px 10px;
  margin-left: 10px;
  height: 40px;
  outline: 0;
  border: 1px solid #ccc;
}
.feed .feed__input form input[type="submit"] {
  display: none;
}
.feed__option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.feed__option .option {
  display: flex;
  align-items: center;
  columns: #333;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px 10px;
}
.feed__option .option:hover {
  background-color: #eee;
}
.feed__option .option svg {
  margin-right: 5px;
}
.option label input {
  display: none;
}
.option label span {
  display: flex;
  align-items: center;
}
